*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: grey;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: whitesmoke;
    border-bottom: 3px solid black ;
}
.img{
    display: flex;
    align-items: center;
    max-width: 18%;
    gap: 0.5rem;
    padding-left: 1rem;
}
#logo{
    border-radius: 100%;
    width: 24%;
}
#heading{
    font-size: 1.5rem;
    font-weight: 900;
}
.text{
    font-size: 1.2rem;
    padding-right: 13rem;
}
.contact{
    padding-right: 1.4rem;
}
#contactButton{
    border: none;
    border-radius: 0.37rem;
    background-color: #6366f1;
    color: white;
    padding: 0.9rem 1.8rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
.bodyContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    height: 80%;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 1rem;
    height: 60%;
}
#usrImg{
    border-radius: 100%;
    height: 100%;
}
.usr{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
}
.usr p{
    font-size: 1.8rem;
    font-weight: 500;
}
.search{
    display: flex;
    gap: 1.5rem;
}
.search input{
    width: 35rem;
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    border-radius: 7px;
    max-width: 100%;
}
#searchButton{
    background-color: rgb(219, 219, 219);
    padding: 0.4rem 1.8rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 7px;
    cursor: pointer;
}
:root {
    --easy-color: #299f5d;
    --medium-color: #cdcd37;
    --hard-color: #f85d41;
    --background-color: #283a2e;
}

.questionType {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 1.1rem;
    font-weight: 600;
    background: conic-gradient(var(--progress-color, #fff) var(--progress-degree, 0deg), var(--background-color) 0%);
}
.questionType span{
    position: relative;
    z-index: 2;
}

.easy {
    --progress-color: var(--easy-color);
}
.medium {
    --progress-color: var(--medium-color);
}
.hard {
    --progress-color: var(--hard-color);
}
.userStats{
    width: 100%;
    display: flex;
    justify-content: center;
}
.questions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 10rem;
    padding-left: 3rem;
}
